<h1>Mensajes</h1>
<hr>
<div class="chat-mensajes">
    <li class="list-group-item"
        *ngFor="let msg of mensajes">
        {{msg.de}}: {{msg.cuerpo}}
    </li>
</div>

<form (ngSubmit)="enviar()">
    <input type="text"
        class="form-control chat-input"
        [(ngModel)]="texto"
        name="texto"
        placeholder="Mensaje..."
        autofocus
        autocomplete="off">
</form>