<h1>usuario: <small>{{wsService.usuario.nombre}}</small></h1>

<button class="btn btn-danger"
    (click)="salir()">Salir</button>
<hr>

<div class="row">
    <div class="col-6">
        <app-lista-usuarios></app-lista-usuarios>
    </div>
    <div class="col-6">
        <app-chat></app-chat>
    </div>
</div>